@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Inter:wght@600&family=Poppins:wght@100;400&family=Abel:wght@400;900&family=Space+Grotesk&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    border: 1px solid red;
}

nav{
    display: none;
}
.button {
    width: 170px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 10px;
    background: linear-gradient(158deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
    font-family: 'Poppins';
    color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

body {
    background: url(./assets/body-background.png);
    background-size: auto;
    background-repeat: no-repeat;
    max-width: 1440px;
}

.main-container {
    margin: 20px 70px;
}

.navs-container {
    display: flex;
    justify-content: space-between;

    .navs {
        ul {
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }

        a{
            float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
        }
        li {
            list-style: none;
            color: rgba(255, 255, 255, 0.70);
            font-family: 'Poppins';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            cursor: pointer;
        }
    }
}

.getstarted-container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    .getstarted-left {
        margin-top: 100px;

        .percent-cont {
            display: flex;
            gap: 10px;
            align-items: center;
            width: 408px;
            // padding: 3px 3px;
            border-radius: 10px;
            background: #181820;
            text-align: center;
        }

        p {
            color: rgba(255, 255, 255, 0.60);
            font-family: 'Poppins';
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
        }

        h1 {
            color: #FFF;
            font-family: 'Poppins';
            font-size: 72px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%;
            letter-spacing: 0.72px;
            width: 670px;
        }

        span {
            background: radial-gradient(64.33% 64.33% at 71.16% 35.69%, #DEF9FA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .circle {
            display: flex;
            position: relative;

            .get-img {
                position: relative;
                right: 210px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: start;
                width: 150px;
                height: 150px;
                border: 2px solid #288394;
                border-radius: 50%;

                img {
                    width: 20px;
                    height: 20px;
                    margin-bottom: 12px;
                }

                p {
                    font-family: 'Poppins';
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    background: linear-gradient(158deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

        }

        .our-team {
            width: 483px;
            color: rgba(255, 255, 255, 0.70);
            font-family: 'Poppins';
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 170%;
            /* 30.6px */
        }
    }

    .getstarted-right {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        max-width: 50%;

        img {
            height: 100vh;
            margin-left: -200px;
        }
    }


}

.stats-container {
    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        h4 {
            color: #FFF;
            font-family: Poppins;
            font-size: 30.893px;
            font-style: normal;
            font-weight: 600;
            line-height: 130%;
            /* 53.16px */
        }

        p {
            font-family: Poppins;
            font-size: 18.446px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            /* 26.58px */
            text-transform: uppercase;
            background: radial-gradient(64.33% 64.33% at 71.16% 35.69%, #DEF9FA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.business-cont {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;

    .money {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2 {
            color: #FFF;
            font-family: 'Poppins';
            font-size: 40px;
            font-style: normal;
            font-weight: 600;
            line-height: 160%;
            /* 76.8px */
            letter-spacing: 0.48px;
        }

        p {
            color: rgba(255, 255, 255, 0.70);
            font-family: 'Poppins';
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 170%;
            /* 30.6px */
        }
    }

    .rewards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        width: 400px;

        .reward {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            width: 400px;
            padding: 20px;

            img {
                background: #02141B;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                padding: 7px;
            }

            .reward-child {
                h4 {
                    color: #FFF;
                    font-family: 'Poppins';
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 130%;
                    /* 23.4px */
                    letter-spacing: 0.18px;
                    text-transform: capitalize;
                }

                p {
                    color: rgba(255, 255, 255, 0.70);
                    font-family: 'Poppins';
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
    }
}

.reward:hover {
    border-radius: 20px;
    background: #272430;
    box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.10);
    cursor: pointer;
}

.billing-invoice {
    max-width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;

    .billin-img {
        width: 450px;
        height: 450px;
    }

    .easy-control {
        display: flex;
        width: 470px;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        h2 {
            color: #FFF;
            font-family: 'Poppins';
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 160%;
            /* 76.8px */
            letter-spacing: 0.48px;
        }

        p {
            color: rgba(255, 255, 255, 0.70);
            font-family: 'Poppins';
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
            /* 28.8px */
            letter-spacing: 0.18px;
        }

        .apple-google-btn {
            margin-top: 30px;
        }
    }
}

.card-deal {
    height: 400px;
    width: 450px;
}

.find-better-card {
    width: 570px;
}


.feedback-container {
    .header-feedback {
        display: flex;
        justify-content: space-between;
        display: flex;
        // justify-content: center;
        align-items: center;
    }

    margin-top: 150px;

    h2 {
        color: #FFF;
        font-family: 'Poppins';
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 170%;
        /* 81.6px */
        width: 470px;
        ;
    }

    p {
        color: rgba(255, 255, 255, 0.70);
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 180%;
        /* 32.4px */
        letter-spacing: 0.18px;
        width: 470px;
        ;
    }

}

.rating-con {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
    margin-right: -10px;

    .ratings {
        color: #fff;
         padding: 18px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        transition: background-color 0.3s, color 0.3s;
        gap: 30px;
    }

    .ratings:hover {
        border-radius: 20px;
       
        background: linear-gradient(144deg, #FFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
        backdrop-filter: blur(5px);
        background-size: cover;
    }
.rate-names{
    color: #FFF;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
.rate-founder{
    color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
opacity: 0.5;
}
    p {
        width: 290px;
        color: #FFF;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 180%;
        /* 32.4px */
        letter-spacing: 0.36px;
    }

    img {
        width: 48px;
        height: 48px;
    }

    .raters {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}
.company-names{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    img:hover{
        background: #45CCD9;
        border-radius: 10px;
    }
}

.our-service{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    width: 1100px;
height: 293px;
margin-top: 100px;
flex-shrink: 0;
border-radius: 20px;
background: linear-gradient(144deg, #FFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
backdrop-filter: blur(5px);
h2{
    color: #FFF;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 67.2px */
}
p{
    color: rgba(255, 255, 255, 0.70);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 28.8px */
letter-spacing: 0.18px;
width: 445px;
}
}
.footer-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    margin-top: 100px;
    .hoobank-logo{
        max-width: 30%;
        p{
            color: rgba(255, 255, 255, 0.70);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 177.778% */
width: 312px;
        }
        
    }
    .footer-links{
        max-width: 70%;
        display: flex;
        justify-content: space-between;
        // align-items: center;
        gap: 140px;
        ul{
            color: rgba(255, 255, 255, 0.70);
font-family: 'Poppins';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
li{
    list-style: none;
    padding: 7px;
}
li:hover{
    background: #42C9D7;
    background-size: auto;
    cursor: pointer;
    border-radius: 10px;
}
        }
        h4{
            color: #FFF;
text-align: start;
font-family: 'Poppins';
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 27px */
        }
    }
}
.reserved-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .right-reserved{
        p{
            color: rgba(255, 255, 255, 0.60);
            text-align: center;
            font-family: 'Poppins';
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 27px */ /* 27px */
word-spacing: 2px;
span{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: 'Abel';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
}
        }
      }
    .social-media{
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}

@media (max-width: 700px) {
    body{
        background-size: cover;
    }

    .navs{
      display: none;
    }
    .hamburgermenu{
        display: flex;
        justify-content: center;

    }  
    .getstarted-container {
        max-width: 100%;
        display: flex;
flex-wrap: wrap;     
   justify-content: center;
        margin-top: 10px;
}
.getstarted-container .getstarted-left .circle .get-img {
    display: none;
}
.stats-container {
    margin-top: 30px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}
.getstarted-container .getstarted-left h1 {
    color: #FFF;
    font-family: "Poppins";
    font-size: 42px; 
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.72px;
    width: auto;
}
.getstarted-container .getstarted-left .percent-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    align-items: center;
    width: 358px;
    border-radius: 10px;
    background: #181820;
    text-align: center;
    p{
        font-size: 16px;
    }
}
.getstarted-container .getstarted-left .our-team {
    width: 383px;
    color: rgba(255, 255, 255, 0.7);
    font-family: "Poppins";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}
.getstarted-container .getstarted-right img {
    height: 90vh;
    margin-left: 0px;
}
.business-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
}
.billing-invoice {
  width: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.billing-invoice .easy-control h2 {
    color: #FFF;
    width: 300px;
    font-family: "Poppins";
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0.48px;
}
.billing-invoice .easy-control {
    display: flex;
    align-items: center;
    width: auto;
    gap: 20px;
flex-wrap: wrap;  
  justify-content: center;
    align-items: center;
}
.billing-invoice .easy-control p {
    color: rgba(255, 255, 255, 0.7);
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.18px;
}
.card-deal {
    height: 300px;
    width: auto;
   padding: 20px;
}
.feedback-container .header-feedback {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.rating-con {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin:0px;
}
.company-names {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}
.our-service {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: auto;
    margin-top: 100px;
    flex-shrink: 0;
    border-radius: 20px;
    background: linear-gradient(144deg, #FFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
    backdrop-filter: blur(5px);
}
.our-service h2 {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 38px;
    text-wrap: wrap;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}
.our-service p {
    color: rgba(255, 255, 255, 0.7);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.18px;
    width: auto;
}
.footer-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    margin-top: 10px;
}
.footer-cont .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.footer-cont .footer-links h4 {
    color: #FFF;
    text-align: start;
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.button{
    width: 150px;
    height: 64px;
}
.billing-invoice .billin-img {
    width: 300px;
    height: 300px;
}
}

@media (max-width: 1024px) {
    body{
        background-size: cover;
    }

    nav{
        display: none;
    }  
}